body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.columns {
    display: flex;
    flex-direction: row;
}

.column {
    margin: 0 10px;
    padding: 10px;
    border: 1px solid #ccc;
    width: 300px;
}

.card-container {
    display: flex;
    flex-wrap: wrap; /* Позволяет карточкам переноситься на следующую строку */
}

.card {
    margin: 5px;
    padding: 10px;
    border: 1px solid #aaa;
    width: calc(100% - 10px); /* Учитываем отступы */
}

button {
    margin-top: 10px;
}
.error {
    color: red;
    font-weight: bold;
}